.support {
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.support {
  max-width: 60%;
  margin: 1em auto;
  display: block;
  @media (min-width: $bp-med) {
    max-width: 40%;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

article {
  margin-bottom: 3em;
}
