///////////////////////////////
// Canvas and Wrapper Styles //
///////////////////////////////

.canvas {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  background: $lightest;
}


///////////////////
// Header Styles //
///////////////////

h2 {
  font-size: 1.5em;
  @media (min-width: $bp-med) {
    font-size: 1.8em;
  }
  margin: 0.3em 0;
}

h3 {
  font-size: 1.2em;
  @media (min-width: $bp-med) {
    font-size: 1.4em;
  }
  margin: 0.3em 0;
}


/////////////
// Buttons //
/////////////

.button {
  font-size: 0.8em;
  text-decoration: none;
  color: $bright;
  background: $dull;
  padding: 0.3em 1em;
  margin-right: 1em;
  border-radius: 1em;
  &:hover {
    background: lighten($dull, 10%);
  }
}


/////////////////////
// Horizontal Rule //
/////////////////////

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
