.albums,
.album-details {
  text-align: center;
  img {
    box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
  }
  @media (min-width: $bp-med) {
    img {
      max-height: 50vh;
    }
  }
}

.albums {
  margin-top: 1em;
  img {
    &:hover {
      box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.5);
    }
  }
}

.album-title {
  text-align: left;
}

.album-year {
  text-align: right;
}
