header {
  position: fixed;
  width: 100%;
  background: $dull;
  z-index: 1000;
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

h1 {
  margin: 0;
  color: $bright;
  font-size: 1.75em;
  @media (min-width: $bp-med) {
    font-size: 3em;
  }
}

.icon-menu {
  height: 24px;
  margin: 12px 0 6px 0;
  @media (min-width: $bp-med) {
    height: 36px;
    margin: 18px 0 12px 0;
  }
  cursor: pointer;
}

.off {
  fill: $dark;
}

.on {
  fill: $bright;
}
